@font-face {
    font-family: 'digital-7';
    src: url('../fonts/digital-7.ttf') format('truetype');
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'digital-7';
    scrollbar-width: thin;
    scrollbar-color: #1d1f21 #ffc74596;
    scroll-behavior: smooth;
    
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: .3em;
}

*::-webkit-scrollbar-track {
    background: #ffc74596;
}

*::-webkit-scrollbar-thumb {
    background-color: #1d1f21;
    border-radius: 20px;;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../img/Background.jpg');
    background-repeat: no-repeat;
    background-position:left;
    background-size:cover;
}
main{
    width: 39%;
    height: 96%;
    min-height:350px;
    display: flex;
    flex-direction: column;
}
main .wrapper-top{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
}
main .wrapper-top>.wrapper-now-information{
    background-color: #ffc74596;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content:space-between;
}
.wrapper-now-information div{
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: transparent;
    height: 100%;
    width: 38%;
    margin-right: 1.5%;
    margin-left: 1.5%;
}
.wrapper-now-information div>span{
    align-items: center;
    justify-content: right;
    user-select: none;
    color: #fff;
    font-size: 1.3em;
}
main .wrapper-top>.wrapper-input{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffc74596;
}
.wrapper-input input{
    width: 98%;
    height: 98%;
    padding: .06em;
    text-align: right;
    outline: none;
    font-size: 5em;
    border-radius: .07em;
    border-color: #ffde91b5;
    background-color: #000;
    color: #F1F7FF;
    animation: flick 2s ease infinite;
}
.wrapper-input input:hover{
    background-color: #101010;
    transition-duration: 500ms;
}
.wrapper-input input:focus{
    outline: 0.01em solid #F1F7FF;
    transition-duration: 500ms;
}
main .wrapper-functions{
    user-select: none;
    width: 100%;
    height: 8%;
    background-color: #ffc74596;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main .wrapper-functions .wrapper-function-buttons{
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
}
.wrapper-function-buttons button{
    width: 30%;
    background-color: transparent;
    border: none;
    height: 80%;
    border-radius: .2em;
    transition-duration: 300ms;
}
.wrapper-function-buttons button:hover{
    background-color: #ffffff3e;
    transform: scale(1.02);
    cursor: pointer;
}
.wrapper-function-buttons button:active{
    transform: scale(0.98)
}
.wrapper-function-buttons button img{
    width: 50%;
}
main .wrapper-functions .wrapper-backspace-button{
    background-color: transparent;
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper-backspace-button button{
    width: 60%;
    height: 80%;
    background-color: transparent;
    border: none;
    border-radius: .2em;
    transition-duration: 300ms;
}
.wrapper-backspace-button button:hover{
    cursor: pointer;
    background-color: #ffffff3e;
    transform: scale(1.02)
}
.wrapper-backspace-button button:active{
    transform: scale(0.98);
}
.wrapper-backspace-button button img{
    width: 80%;
    height: 100%;
}
div[class="wrapper-buttons"]{
    width: 100%;
    height: 67%;
    background-color: #ffc74596;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wrapper-buttons .wrapper-buttons-queues{
    user-select: none;
    background-color: transparent;
    width: 98%;
    height: 19.5%;
    margin-bottom: 0.1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.wrapper-buttons-queues button{
    width: 24.5%;
    height: 99%;
    margin-right: 0.1em;
    background-color: #E8A033;
    border: none;
    border-radius: 0.15em;
    color: #F1F7FF;
    font-size: 2.3em;
    transition-duration: 300ms;
}
.wrapper-buttons-queues button:hover{
    cursor: pointer;
    outline: solid 0.01em #F1F7FF;
}
.wrapper-buttons-queues button:active{
    transform: scale(0.97);
    background-color: #ebae53;
}
.wrapper-history{
    height: 35vh;
    width: 50vh;
    background-color: #ffc74596;
    position:absolute;
    left: 3.5%;
    top: 28%;
    display: none;
    flex-direction: column;
    align-items: center;
    animation: emerge .3s ease-in-out 1;
}
.wrapper-history .history-list{
    background: none;
    width: 99%;
    height: 85%;
    display: flex;
    align-items:flex-end;
    flex-direction: column;
    margin-top: 1px;
    padding-right: 2px;
    overflow-x: auto;
    overflow-y: auto;
    scroll-behavior: smooth;
}
.wrapper-history .history-list .history-calc{
    transition-duration: 300ms;
    background: none;
    color: #F1F7FF;
    user-select: none;
    font-size: 2.3em;
}
.wrapper-history .history-list .history-calc:hover{
    background-color: #ffffff3e;
    transform: scale(1.01);
    cursor: pointer;
}
.wrapper-history .history-list .history-calc:active{
    transform: scale(0.97);
}
.wrapper-history .history-list .history-result{
    transition-duration: 300ms;
    background: none;
    color: #F1F7FF;
    user-select: none;
    font-size: 1.8em;
}
.wrapper-history .history-list .history-result:hover{
    background-color: #ffffff3e;
    transform: scale(1.01);
    cursor: pointer;
}
.wrapper-history .history-list .history-result:active{
    transform: scale(0.97);
}
.wrapper-history .wrapper-button-history-list{
    border-top: solid #f1f7ffc3 1px;
    width: 90%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:none;
    user-select: none;
}
.wrapper-history button{
    width: 65%;
    height: 85%;
    background-color: #E8A033;
    border: none;
    color: #F1F7FF;
    font-size: 1.5em;
    transition-duration: 300ms;
}
.wrapper-history button:hover{
    cursor: pointer;
    outline: solid 0.01em #F1F7FF;
}
.wrapper-history button:active{
    transform: scale(0.97);
    background-color: #ebae53;
}
.wrapper-converter, .wrapper-angle-converter{
    right: 0;
    top: 15%;
    background-color: #ffc74596;
    position: fixed;
    width: 30vw;
    height: 70vh;
    display: none;
    align-items: center;
    justify-content: center;
    align-self: center;
    animation: emerge .3s ease-in-out 1;
}
.wrapper-converter-display{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wrapper-converter-display span.span-converter{
    user-select: none;
    width: 30%;
    font-family: cursive;
    color: #F1F7FF;;
    font-size: 1.8em;
    position: absolute;
    top: 0;
    padding: 2%;
}
.wrapper-converter-display > .converter-output{
    user-select: text;
    font-size: 4em;
    color: #F1F7FF;
    padding-left: 5px;
}
.wrapper-converter-display > select{
    width: 43%;
    font-family: cursive;
    background-color: transparent;
    border: none;
    outline: transparent;
    padding-left: 5px;
}
.wrapper-converter-display > select > option{
    font-family: inherit;
}
.wrapper-converter-buttons{
    user-select: none;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.wrapper-converter-buttons .wrapper-converter-buttons-queues{
    margin: 1px;
    width: 98%;
    height: 18%;
    display: flex;
    justify-content: flex-end;
}
.wrapper-converter-buttons .wrapper-converter-buttons-queues > button{
    width: 30%;
    height: 99%;
    background-color: #E8A033;
    color: #F1F7FF;
    border-radius: 0.20em;
    border: none;
    margin: 0 2px 0 2px;
    transition-duration: 300ms;
    font-size: 2em;
}
.wrapper-converter-buttons .wrapper-converter-buttons-queues > button:active{
    background-color: #ebae53;
    transform: scale(0.97);
}
.wrapper-converter-buttons .wrapper-converter-buttons-queues > button:hover{
    outline: solid 0.01em #F1F7FF;
}
.wrapper-converter-buttons .wrapper-converter-buttons-queues > button img{
    width: 50%;
}


/* MOBILE STYLE BELOW*/


@media(max-width: 1400px){
    .wrapper-history {
        height: 45vh;
        width: 48vh;
    }
}
@media(max-width: 1340px){
    .wrapper-history {
        width: 38vh;
    }
    .wrapper-converter{
        height: 50vh;
    }
}
@media(max-width: 1100px){
    main {
        width: 70%;
    }
    .wrapper-history, .wrapper-converter{
        width: 70vw;
        left:unset;
        top: 34%;
        align-self: center;
        justify-self: center;
        background-color: #ffc745;
    }
}
@media(max-width: 660px){
    main {
        width: 100%;
        height: 100%;
    }
    .wrapper-history, .wrapper-converter{
        width: 100vw;
        height: 50vh;
        top: 33%;
        background-color: #ffc745;
    }
    .wrapper-converter > .wrapper-converter-display > select{
        width: 70%;
        font-size: .8em;
    }
    .wrapper-now-information div{
        width: 33%;
    }
    .wrapper-now-information div span{
        font-size: 1.2em;
    }
}
@media(max-width: 506px){
    main {
        height: 100%;
    }
    .wrapper-now-information div span{
        font-size: 1em;
    }
}
@media(max-width: 420px){
    .wrapper-now-information div{
        width: 40%;
    }
    .wrapper-now-information div span{
        font-size: .9em;
    }
    .wrapper-converter-display > .converter-output{
        font-size: 2em;
    }
    .wrapper-function-buttons button{
        width: 40%;
        height: 90%;
    }
    .wrapper-function-buttons button img{
        width: 70%;
    }
}
@media(min-width: 1700px){
    main {
        width: 30%;
    }
}
@media(min-width: 2000px){
    main {
        width: 25%;
    }
}
@keyframes emerge {
    0%{
        opacity: 0%;
    }
    25%{
        opacity: 25%;
    }
    50%{
        opacity: 50%;
    }
    75%{
        opacity: 75%;
    }
    100%{
        opacity: 100%;
    }
}
@keyframes flick {
    0%{
        text-shadow: none;
    }
    12.5%{
        text-shadow: .0em .0em .01em #B90B75;
    }
    25%{
        text-shadow: .0em .0em .05em #B90B75;
    }
    37.5%{
        text-shadow: .0em .0em .08em #B90B75;
    }
    50%{
        text-shadow: .0em .0em .1em #B90B75;
    }
    62.5%{
        text-shadow: .0em .0em .08em #B90B75;
    }
    75%{
        text-shadow: .0em .0em .05em #B90B75;
    }
    87.5%{
        text-shadow: .0em .0em .01em #B90B75;
    }
    100%{
        text-shadow: none;
    }
}