*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
    scrollbar-color:#ffc74596 rgb(0, 0, 0);
    scroll-behavior: smooth;
    user-select: none;

}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: .3em;
}

*::-webkit-scrollbar-track {
    background: #ffc74596;
}

*::-webkit-scrollbar-thumb {
    background-color: #1d1f21;
    border-radius: 20px;
}

body{

    width: 100%;
    height: 100dvh;
    min-height: 100vh;
    background-image: url("../img/Background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

}
.wrapper-menu-info{

    background-color: rgba(0, 0, 0, 0.653);
    width: 100%;
    height: 10%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: min(.2rem, .5%);
    z-index: 99;

}
.wrapper-functions-buttons{

    /*background-color: aquamarine;*/
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.wrapper-status-output{

    background-color: #F1F7FF;
    position: absolute;
    z-index: 99;
    right: 0;
    top: 120%;
    width: 70%;
    height: 130%;
    display: flex;
    align-items: center;
    animation: appear ease-in 1s;
    box-shadow: 0px 0px 16px 8px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0px 0px 16px 8px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 16px 8px rgba(255, 255, 255, 0.75);

}
.wrapper-status-output img{
    
    width: 52px;
    height: 52px;
    
}
.wrapper-status-output span{

    margin-left: .5rem;
    font-size: 1.4rem;
    flex-grow: 1;
    flex-wrap: wrap;
    font-weight: bolder;
    height: 100%;
    /*background-color: #0381ff;*/
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.wrapper-status-output span.sucess{

    color: #0075af;

}
.wrapper-status-output span.error{

    color: #D95B30;

}
.wrapper-functions-buttons button{

    background: none;
    /*background-color: #B90B75;*/
    border: none;
    width: calc((100% / 2));
    max-width: 65px;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: .2rem;
    margin-left: .2rem;

}
.wrapper-functions-buttons button > img{

    width: 100%;
    height: 100%;

}
.wrapper-functions-buttons span{

    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: #F1F7FF;
    user-select: none;
    flex-wrap: nowrap;
    text-wrap: nowrap;

}
.float-menu{

    background-color: rgba(0, 0, 0, 0.653);
    backdrop-filter: blur(2em);
    -webkit-backdrop-filter: blur(10px);
    width: 60%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 98;

}
.float-menu .space-float{

    /*background-color: #B90B75;*/
    min-height: 10%;

}
.float-menu > ul{

    /*background-color: blue;*/
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;

}
.float-menu > ul > span{

    color: #D99530;
    font-size: 1.3rem;
    font-weight: bolder;

}
#exit-side-menu{

    background-color: #1d1f21d2;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: 97;
    right: 0;

}
.calculator-mode{

    /*background-color: bisque;*/
    display: flex;
    align-items: center;
    height: fit-content;
    width: 100%;
    padding: .2rem;
    margin-bottom: .1rem;


}
.calculator-mode > span{

    color: #F1F7FF;
    font-size: 1.3rem;
    padding-left: .2rem;

}
.calculator-mode > img{

    width: 2.7rem;

}
.float-history{

    background-color: #ffc74596;
    position: absolute;
    width: 100%;
    height: 70%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    z-index: 99;

}
.float-history > button{

    height: 10%;
    cursor: all-scroll;
    color: #F1F7FF;
    border: none;
    font-size: 1.6rem;

}
.wrapper-calc-and-results{

    /*background-color: darkolivegreen;*/
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: auto;

}
.wrapper-calc-and-results > li{

    /*background-color: blueviolet;*/
    list-style: none;
    display: flex;
    align-items: flex-end;
    flex-direction: column;

}
.wrapper-calc-and-results > li > span{

    color: #F1F7FF;

}
.history-calc{

    font-size: 1.7rem;

}
.history-result{

    font-size: 2rem;
    font-weight: bolder;

}
.wrapper-calculator{

    /*background-color: blueviolet;*/
    width: 100%;
    min-height: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

}
#standard-calculator-wrapper{

    /*background-color: rgb(27, 54, 1);*/
    width: 99.8%;
    height: 99.8%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.wrapper-calculator-outputs{

    /*background-color: cornflowerblue;*/
    width: 100%;
    height: 23%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    border-top: 1.45em #ffc74596 solid;
    border-right: .6em #ffc74596 solid;
    border-left: .6em #ffc74596 solid;
    border-radius: .5rem .5rem 0 0;
    color: #F1F7FF;
    font-weight: bolder;

}
.outputs{

    animation: flick 2s ease infinite;

}
#previous-output{

    font-size: 1.3rem;
    user-select: text;

}
#current-output{

    font-size: 4rem;
    user-select: text;

}
.wrapper-buttons{

    width: 100%;
    height: 77%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #ffc74596;
    border-radius: 0 0 .5rem .5rem;

}
.wrapper-buttons-queues{

    /*background-color: chartreuse;*/
    width: 97%;
    height: calc((100% / 6) - .2rem);
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.wrapper-buttons-queues button{

    width: calc((100% / 4) - .07rem);
    height: 100%;
    border: none;
    border-radius: .5rem;
    font-size: 2rem;
    font-weight: bolder;
    color: #F1F7FF;

}
.wrapper-buttons-queues button img{

    width: 2rem;

}
#programmer-calculator-wrapper{

    /*background-color: rgb(27, 54, 1);*/
    width: 99.8%;
    height: 99.8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;

}
#wrapper-calculator-output-programmer{

    /*background-color: chartreuse;*/
    height: 40%;

}
.wrapper-outputs-divider{

    /*background-color: cadetblue;*/
    width: 100%;
    height: calc(100% - 60%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;

}
#previous-output-programmer{

    font-size: 1.4rem;

}
#current-output-programmer{

    font-size: 3rem;

}
.wrapper-number-system{

    /*background-color: darkgoldenrod;*/
    width: 100%;
    height: calc(100% - 40%);

}
.wrapper-number-system li{

    /*background-color: blue;*/
    width: 100%;
    height: calc(100% / 4);
    display: flex;
    align-items: center;
    position: relative;

}
.wrapper-number-system li :first-child{

    padding-right: .2rem;
    padding-left: .3rem;
    font-size: 1.2rem;
    font-weight: bolder;

}
.wrapper-number-system li :last-child{
    
    overflow: auto;

}
.wrapper-buttons-programmer{

    height: 60%;

}
.wrapper-programmer-functions{

    /*background-color: rgb(210, 30, 210);*/
    height: calc(100% / 8);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.wrapper-programmer-functions > button{

    /*background-color: blueviolet;*/
    width: 14%;
    height: 100%;
    color: #F1F7FF;
    font-weight: bolder;
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    position: relative;

}
.wrapper-programmer-functions > div{

    /*background-color: blueviolet;*/
    width: 25%;
    height: 100%;
    color: #F1F7FF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;

}
.bit-by-bit-menu{

    /*background-color: darkred;*/
    background-color: #ffc74596;
    position: absolute;
    width: 10rem;
    height: 10rem;
    top: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 98;
    outline: solid .1rem black;

}
.bit-by-bit-menu button{

    width: 40%;
    height: 30%;
    color: #F1F7FF;
    font-weight: bolder;
    font-size: medium;
    border: none;
    border-radius: .3rem;

}
.bit-shift-menu{

    background-color: #ffc74596;
    position: absolute;
    width: 15rem;
    height: 10rem;
    top: 100%;
    right: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 98;
    outline: solid .1rem black;

}
.bit-shift-menu li{

    background-color: #D99530;
    width: 97%;
    height: calc((100% / 4) - 0.3rem);
    list-style: none;
    display: flex;
    align-items: center;
    color: #F1F7FF;
    font-weight: bolder;
    font-size: 1.2rem;

}
.bit-shift-menu > li > div{
    
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .3rem;
    margin-left: .2rem;
}
.queues-programmer{

    /*background-color: azure;*/
    height: calc((100% / 7) - 0.15rem);
    width: 99.7%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.queues-programmer > button{

    width: calc((100% / 5) - 0.1rem);
    height: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    font-size: 2rem;
    font-weight: bolder;
    color: #F1F7FF;

}
.queues-programmer button img{

    width: 2rem;

}
.toggle-queues{

    /*background-color: brown;*/
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% / 4);
    display: flex;
    align-items: center;
    justify-content: center;

}
.toggle-queues-division{

    /*background-color: aquamarine;*/
    width: calc(100% / 4);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: .2rem;

}
.wrapper-toggle-queues-buttons{

    /*background-color: rgb(255, 0, 195);*/
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.btn-bit-toggle{

    background: none;
    border: none;
    width: calc((100% / 4) - .1rem);
    height: 60%;
    color: #F1F7FF;
    font-size: 1.8rem;
    font-weight: bolder;

}
.btn-bit-toggle:hover{
    
    color: #f1f7ffb0;
    transition: color ease 150ms;
    cursor: pointer;

}
.btn-bit-toggle:active{
    
    color: #B90B75;

}
.toggle-queues-division > span{

    color: #F1F7FF;
    font-size: 1.4rem;
    width: calc((100% / 4) - .1rem);

}
.wrapper-length-calculator{

    position: absolute;
    background-color: #ffc74596;
    width: 100%;
    height: 99%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.wrapper-converter-output-and-select{

    /*background-color: aqua;*/
    width: 100%;
    height: calc((100% / 4) - 0.1rem);
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.wrapper-converter-output-and-select > span{

    font-size: 4.5rem;
    color: #F1F7FF; 
    animation: flick 2s ease infinite;

}
#first-converter-output{

    font-weight: bolder;

}
.conversor-selects{

    /*background-color: blueviolet;*/
    width: 60%;
    height: 20%;
    display: flex;
    position: relative;

}
.select-converter{

    /*background-color: brown;*/
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.select-converter > span{

    /*background-color: #ff00dd;*/
    color: #F1F7FF;
    font-size: 1.4rem;
    text-align: center;

}
.select-converter > div{

    /*background-color: #00E6FF;*/
    margin-left: 0.3rem;
    border-left-width: 8px;
    border-right-width: 8px;
    border-top-width: 9px;

}
.conversor-selects ul{

    position: absolute;
    background-color: #D99530;
    list-style: none;
    width: 100%;
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
    right: -10%;
    z-index: 98;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.menu-converter li{

    /*background-color: brown;*/
    padding-left: 10px;
    min-height: 2.2rem;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    color: #F1F7FF;
    border-radius: .5rem;

}
.menu-converter li.active-converter{

    font-weight: bolder;
    position: relative;
    background-color: rgba(255, 255, 255, 0.493);

}
.menu-converter li.active-converter::after{

    content: '';
    position: absolute;
    bottom: 15%;
    left: 0;
    height: 70%;
    width: 5px;
    background-color: #00E6FF;
    border-radius: 50rem;
    animation: linegrowheight 500ms ease-in-out 1;

}
.wrapper-length-buttons{

    /*background-color: cadetblue;*/
    height: calc((100% / 2) - 0.1rem);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.wrapper-length-buttons > .wrapper-buttons-queues{

    /*background-color: #32d40a;*/
    width: 98%;
    height: calc((100% /5) - 0.1rem);
    display: flex;
    align-items: center;
    justify-content: right;

}
.wrapper-length-buttons > .wrapper-buttons-queues > button{

    margin: .1rem;
    width: 32.31608151%;

}
.wrapper-footer-info{

    background-color: rgba(0, 0, 0, 0.26);
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bolder;

}

.wrapper-footer-info p{
    
    /*background-color: aqua;*/
    font-size: 1.2rem;
    color: #F1F7FF;
    user-select: none;
    text-shadow: 1px 2px 2px #57d0f9;

}
.wrapper-footer-info p a{

    color: #F1F7FF;
    cursor: pointer;

}
.buttons-color-main{

    background-color: #E8A033;

}
.buttons-color-darker{

    background-color: #D99530;

}
.buttons-color-bright{

    background-color: #D95B30;

}
.basic-btn-efects{

    transition: all ease-in 150ms;

}
.basic-btn-efects:hover{

    transform: scale(1.05);
    cursor: pointer;

}
.basic-btn-efects:active{

    transform: scale(1.00);

}
.calc-btn-efects{

    transition: all ease-in-out 150ms;

}
.calc-btn-efects:hover{

    outline: .1rem solid white;
    cursor: pointer;

}
.calc-btn-efects:active{

    transform: scale(0.96);
    outline-color: #57D1F9;
    box-shadow: 0px 0px 9px 3px #57d0f9;
    -webkit-box-shadow: 0px 0px 9px 3px #57d0f9;
    -moz-box-shadow: 0px 0px 9px 3px #57d0f9;

}
.bar-basic-efect{

    transition: all ease-in-out 500ms;

}
.bar-basic-efect:hover{

    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.212);
    transform: scale(1.01);

}
.bar-basic-efect:active{

    transition: all ease-in-out 100ms;
    background-color: rgba(255, 255, 255, 0.493);
    transform: scale(1.00);

}
.active-calculator-mode{

    background-color: rgba(255, 255, 255, 0.493);

}
.color-pink{

    color: #B90B75;
    transition: color ease 150ms;

}
.color-pink:hover{

    color: #B90B75;

}
.color-pink:active{
    
    color: #f1f7ff;
}
.caret{

    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #D95B30;
    transition: 0.3s;

}
.caret-rotate {

    transform: rotate(180deg);

}
button.disabled-btn{ /*body main place if don't work*/

    background-color: #2222221c;
    cursor: default;

}
button.disabled-btn-bit-toggle{

    color: #f1f7ff7b;

}
button.disabled-btn-bit-toggle:hover{

    color: #f1f7ff7b;
    cursor: default;

}
.shift-radio-input{

    border-radius: 50%;
    border: .45rem solid black;
    background-color: white;

}
.shift-radio-select{

    background-color: #B90B75;

}
.selected-function::after {

    content: '';
    position: absolute;
    bottom: -3px;
    left: 25%;
    height: 4px;
    width: 50%;
    background-color: #00E6FF;
    border-radius: 50rem;
    animation: linegrowwidth 500ms ease-in-out 1;
    
}
.selected-numeric-base::after{

    content: '';
    position: absolute;
    bottom: 15%;
    left: 0px;
    height: 70%;
    width: 4px;
    background-color: #00E6FF;
    border-radius: 50rem;
    animation: linegrowheight 500ms ease-in-out 1;

}
@media(min-width: 700px){

    .wrapper-functions-buttons span{

        font-size: 2.3rem;
    }
    #previous-output{

        font-size: 2rem;

    }
    #current-output{

        font-size: 5rem;

    }
    #previous-output-programmer{

        font-size: 2rem;

    }
    #current-output-programmer{

        font-size: 4rem;

    }
    .wrapper-number-system li :first-child{

        font-size: 1.8rem;

    }
    .wrapper-number-system li :last-child{
        
        font-size: 1.6rem;

    }
    .wrapper-programmer-functions > button{
        
        font-size: 1.4rem;

    }
    .wrapper-programmer-functions > button img{
        
        width: 50%;
    }
    .wrapper-programmer-functions > div{

        font-size: 1.4rem;

    }
    .wrapper-programmer-functions > div > img{

        width: 25%;

    }
    .wrapper-status-output{

        width: 50%;

    }
    .float-menu > ul > span{
        
        font-size: 1.9rem;

    }
    .calculator-mode > span{

        font-size: 1.6rem;

    }
    .calculator-mode > img{

        width: 2.8rem;

    }
    .history-calc{

        font-size: 2.5rem;

    }
    .history-result{

        font-size: 3.3rem;

    }

}
@media(min-width: 800px){

    .wrapper-calculator-outputs{

        width: 65%;

    }
    .wrapper-buttons{

        width: 65%;

    }
    .wrapper-status-output{

        width: 30%;

    }
    
    .float-menu > ul > span{
        
        font-size: 3rem;

    }
    .calculator-mode > span{

        font-size: 2.5rem;

    }
    .calculator-mode > img{

        width: 3rem;

    }
    .float-history{

        width: 65%;
        height: 70%;
        align-self: center;

    }
    .wrapper-length-calculator{

        width: 60%;
        border-radius: .3rem;

    }

}
@media(min-width: 1100px){

    .wrapper-calculator-outputs{

        width: 45%;

    }
    .wrapper-buttons{

        width: 45%;

    }
    #previous-output{

        font-size: 1.3rem;

    }
    #current-output{

        font-size: 3.5rem;

    }
    .wrapper-status-output{

        width: 25%;

    }
    
    .float-menu > ul > span{
        
        font-size: 1.9rem;

    }
    .calculator-mode > span{

        font-size: 1.6rem;

    }
    .calculator-mode > img{

        width: 2.8rem;

    }
    .float-history{

        width: 26%;
        height: 60%;
        right: 0;
        bottom: calc(65% - (100% / 2));

    }
    .history-calc{

        font-size: 1.5rem;

    }
    .history-result{

        font-size: 2rem;

    }
    #previous-output-programmer{

        font-size: 1.5rem;

    }
    #current-output-programmer{

        font-size: 3rem;

    }
    .wrapper-number-system li :first-child{

        font-size: 1.3rem;

    }
    .wrapper-number-system li :last-child{
        
        font-size: 1.1rem;

    }
    .wrapper-programmer-functions{

        height: calc((100% / 8 - 0.5rem));

    }
    .wrapper-programmer-functions > button{
        
        font-size: 1rem;

    }
    .wrapper-programmer-functions > button img{
        
        width: 30%;
    }
    .wrapper-programmer-functions > div{

        font-size: 1rem;

    }
    .wrapper-programmer-functions > div > img{

        width: 30%;

    }
    /**/
    .wrapper-length-calculator{

        width: 45%;

    }

}
@media(min-width: 1500px){

    .wrapper-calculator-outputs{

        width: 30%;

    }
    .wrapper-buttons{

        width: 30%;

    }
    .wrapper-status-output{

        width: 15%;

    }
    
    .float-menu > ul > span{
        
        font-size: 3.5rem;

    }
    .calculator-mode > span{

        font-size: 3rem;

    }
    .calculator-mode > img{

        width: 3.5rem;

    }
    .history-calc{

        font-size: 2.5rem;

    }
    .history-result{

        font-size: 3rem;

    }
    .wrapper-length-calculator{

        width: 30%;

    }

}
@media(max-height: 730px){
    #previous-output-programmer{

        font-size: 1rem;

    }
    #current-output-programmer{

        font-size: 3rem;

    }
    /*.wrapper-programmer-functions > button img{
        
        width: 40%;
    }*/
    .wrapper-programmer-functions > div > img{

        width: 20%;

    }
}
@media(max-height: 610px){

    .wrapper-calculator-outputs{

        height: 25%;

    }
    .wrapper-buttons{

        height: 75%;

    }
    #previous-output-programmer{

        font-size: 1rem;

    }
    #current-output-programmer{

        font-size: 2rem;

    }
}
@media(max-height: 490px){

    #previous-output{

        font-size: .9rem;

    }
    #current-output{

        font-size: 2rem;

    }

}
@keyframes flick {
    0%{
        text-shadow: none;
    }
    12.5%{
        text-shadow: .0em .0em .02em #B90B75;
    }
    25%{
        text-shadow: .0em .0em .1em #B90B75;
    }
    37.5%{
        text-shadow: .0em .0em .16em #B90B75;
    }
    50%{
        text-shadow: .0em .0em .02em #B90B75;
    }
    62.5%{
        text-shadow: .0em .0em .16em #B90B75;
    }
    75%{
        text-shadow: .0em .0em .1em #B90B75;
    }
    87.5%{
        text-shadow: .0em .0em .02em #B90B75;
    }
    100%{
        text-shadow: none;
    }
}
@keyframes appear {
    
    0%{
        margin-right: -100vw;
    }
    100%{
        margin-right: 0;
    }

}
@keyframes linegrowwidth{

    0%{
        width: 0;
        left: 50%;
    }
    100%{
        left: 25%;
        width: 50%;
    }

}
@keyframes linegrowheight{

    0%{
        height: 0;
        bottom: 50%;
    }
    100%{
        bottom: 25%;
        height: 50%;
    }

}
@keyframes disappear {
    
    0%{
        margin-right: 0;
    }
    100%{
        margin-right: -100vw;
    }

}